/* .navbar-nav {
  margin: 0 auto;
  color: #fff;
  font-family: Avenir Medium;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
}
.nav-link{
  color: purple;
}
.nav-item{
  padding-left: 25px;
  padding-right: 25px;
}
#under{
    height:2px;
    width:100%;
    background-image: url("../img/shaded-border.png");
    background-size:100% auto;
} */

/*
  HEADER
*/
/* .navbar-brand
{
  width: 120px;

} */
 .navbar
{
  background-image: url(http://www.hdrlabs.com/gallery/realhdr/media/KitchenWindow_PM_DetailsEnhancer.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-nav.mr-auto
{
    position: relative;
    margin: 0 auto;
}

.btn.btn-outline-secondary.dropdown-toggle, .btn.btn-outline-secondary
{
  color:#ff9e9e;
}

.search-btn
{
    background-repeat: no-repeat;
    width: 100%;
    background-image: url(../img/searchicon.png);
    background-size: 30px 30px;
    background-position-x: 10px;
}

.input-group-append, .search-btn
{
    height: 31px;
    width: 59.56px;
}

.row
{
  margin-right: 0;
}

/*
  FOOTER
*/
.footer-to-top
{
  padding-top:10px;
  padding-bottom:10px;
  background-color:#26323e;
  margin-bottom:44px;
}

.footer-to-top:hover
{
  background-color:#405061;
  color:white;
}

.black-out
{
  background-color:#26323e;
  bottom:0;
  background-image: url(http://www.hdrlabs.com/gallery/realhdr/media/KitchenWindow_PM_DetailsEnhancer.jpg);
  background-position-y:152px;
  background-size: cover;
  background-attachment: fixed;

 /*background-repeat: no-repeat;   */
}

.text-muted.footer
{
  color:white;
}

.footer-content
{
  width: max-content;
  text-align: center;
}

.row.latest
{
  padding-top:8px;
}

.card-img-top.shadowed
{
  box-shadow: 3px 3px #00000042;
  /* height: 225px;
  width: 100%;
  display: block;
  background-image: url(https://image.freepik.com/free-photo/cute-cat-picture_1122-449.jpg);
  background-size: cover;
  background-position: center; */
}

.univ-search
{
  width: 50%;
}

.univ-search .input-group
{
    width: -webkit-fill-available;
}

.container
{
  padding-right:0px;
  padding-left:0px;
  max-width:100%;

}

/*MODAL STYLING*/
#contact_modal, #about_modal
{
  background-color: #381005c9;
}

.modal-dialog
{
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.modal-content
{
  height: 100%;
  width: 100%;
  background-color:transparent;
}

.modal-title
{
  font-family: Garamond;
  font-size: 50px;
}

.modal-body
{
    font-family: Avenir Roman;
    font-size: 16px;
}

.modal-body, .form-control
{
  border-radius: 0;
}

.modal-body h4, h5, .close
{
  color:white;
}

.modal-body label
{
  color:#93918e;
}

#sendContactBtn
{
  border-radius:0;
  background-color: #007bff00;
  border-color:#f8f9fa9e;
}

.close, #sendContactBtn:hover
{
  background-color:#bdbdbd54;
}

.logo
{
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 160px 70px;
    height: 70px;
    width: 160px;
}

.card.contact
{
  background-color: transparent;
  border:0;
}

.cnt_info
{
  margin-top:10px;
}

.cnt_info p
{
  color:white;
}

.col-sm p
{
  color:white;
}

.card.mb-3.box-shadow
{
  overflow:hidden;
}

.card.mb-3.box-shadow:hover a .card-img-top.shadowed,
.card.mb-3.box-shadow:focus a .card-img-top.shadowed
{
  transform: scale(1.2);
  transition: all .5s;
}

.card-img-top.shadowed::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red; /**rgba(52, 73, 94, 0.75);*/
}

.card.mb-3.box-shadow:hover a .card-img-top.shadowed:before,
.card.mb-3.box-shadow:focus a .card-img-top.shadowed:before {
  display: block;
}
